REDIRECT_URI=http://localhost:8000/api/v1/keycloak-auth/login/callback
KC_LOGOUT_URL=http://localhost:8080/realms/myrealm/protocol/openid-connect/logout
APP_BASE_URL=http://localhost:8000

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=test
DB_PASSWORD=test
DB_NAME=test
DATABASE_URL=postgresql+asyncpg://test:test@postgres:5432/test

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
KC_DB_USERNAME=kc_test
KC_DB_PASSWORD=kc_test
KC_BASE_URL=http://keycloak:8080
KC_REALM_ID=myrealm
KC_CLIENT_ID=myclient
KC_CLIENT_SECRET=IcxRfjkQSJtyi9PSO303ZxZ12y3Pv99E